<html lang="en">

<head>
    {{>headerLink}}
</head>

<body>
    <!-- navBaar -->
    {{>header}}
    <!--header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--  left side div  -->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="./images/image2.jpg" alt="parteek" class="img-fluid" titile="parteek">
                        </figure>
                    </div>
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <p style="font-size: 1.8rem;">Welcome to weather app</p>
                        <h1>I am A <span class="text_clr">MERN Stack Developer</span> Competitive Programmer and A Open
                            Source Developer
                        </h1>
                        <a href="https://github.com/parteek10" target="_blank"> <button>About me </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer  -->
    {{>footer}}
</body>

</html>